table{
    border-collapse: collapse;
    padding: 150px;
    border-bottom: 2px solid blue;
   
}


tr, td{
padding: 6px;

}

thead{
    font-weight: bold;
    color: white;
    background-color: blue;
    
   
}
.castro{
    border: 1px solid lightgray;
    color: blue;
    background-color: gainsboro;
    font-weight: bold;
}